body{
    margin: 0;
    padding: 0;
    
}

div{
    margin-top: 15%;
    display: flex;
    justify-content: center;
    
}

input{
    width: 350px;
   
}

button{
    background-color: hsl(129, 50%, 50%);
    color: antiquewhite;
    border: 1px solid black;
    width: 150px;
}

body > div:nth-child(1){
    color: red;
}

