body{
    margin: 0;
    padding: 0;
}

/*.container{
    display: flex;
    justify-content: space-around;
    min-height: 90vh;
       
};*/

.circle{
    border: 1px solid black;
    border-radius: 50%;
    margin-top: 10px;

}

body > div{
    display: flex;
    justify-content: space-around;
    min-height: 90vh;
    flex-flow: wrap;
    
}
